body {
    padding: 50px;
}


.scientific {
    font-style: italic;
}


header {
  background-color: #3B5CB2;
  width:100%;
  text-align: center;
  border-radius: 10px;
  top:0;
  left:0;
}
.btn-primary {
  background-color: #3B5CB2;
  border-color: #3B5CB2;
  width: 100%;
}

.add {
      padding: 50px;

}

.navbar {
  background-color: lightblue;
}

img {
  padding: 2em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#logout 
{
  color: red;
}
